
<div class="container-fluid d-flex flex-row justify-content-center align-items-center h-100" style="background-color: #dfdfdf;">
    <mat-card class="p-5">
        <mat-card-title class="text-center mb-4">Signup</mat-card-title>
        <div class="my-2">
            <mat-form-field appearance="fill">
              <mat-label>User Name</mat-label>
              <input matInput placeholder="Jhon@mail.com" type="text">
            </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="*********" type="password">
          </mat-form-field>
        </div> 
          <button class="btn btn-primary my-2">Login</button>
          <p>Already have an account <a routerLink="/login">Login</a></p>
    </mat-card>
</div>
